.input-icon{
  display: flex;
  align-items: center;
  position: relative;
  i{
    position: absolute;
    left: 0;
    margin-left: 7px;
    color: var(--color-icon-form);
  }

  input{
    height: 40px;
    text-indent: 24px;

  }
}

.brfield{
  input{
    border-radius: 22px;
  }
}

.widthsizetxt{
  input{
    width: auto;
    min-width: 35ch;
  }
}

.p-inputtext{
  // border: 1px solid #afa7a7b3 !important;
  // border-radius: 8px ;
  height: 40px;
}

.inputstyle{

}


/* === RESET PRIMENG == */
.p-textarea{
  border: 1px solid #afa7a7b3 !important;
}
