<header class="headermain">
  <div class=" w100 header-content uflex aicenter  uflex-jbtw">
    <div class="uflex aicenter gap10 hb-brand">
      <img src="assets/header/logo.svg" alt="">
      <h1 class="uflex-grow w100">Sistema de Recordatorios</h1>
    </div>
    <!-- <div class="uflex">
      <div class="input-icon brfield searchheader">
        <i class="material-symbols-outlined">search</i>
        <input type="text" placeholder="Buscar" class="w100" pInputText />
      </div>
    </div> -->
    <div class="uflex gap30">
      <button class="btncontactsupp">
        <i class="material-symbols-outlined">
          contact_support
        </i>
      </button>
      <button class="btnnotificacion">
        <i class="material-symbols-outlined">
          notifications_unread
        </i>
      </button>
      <div class=" uflex aicenter hb-location gap10">
        <img src="assets/header/peru.svg" alt="">
        <span>Perú - Callao</span>
      </div>
      <div class="uflex aicenter hb-dateuser gap5">
        <div>
          <img src="assets/header/perfil.png" alt="">
        </div>
        <div class="uflex-v gap5 datecontenuser">
          <span>Pedro Sanchez</span>
          <span>Perfil Usuario</span>
        </div>
      </div>
    </div>
  </div>
</header>
