:host {
  display: block;
}

.headermain{
  background: var(--color-white);
  width: 100%;
  padding: 10px 32px 10px 16px;
  box-shadow: var(--shadow-card-primary);
}

.searchheader{
  width: 250px;
}

.header-content{
/* display: grid; */
/* grid-template-columns: 1fr 1fr 1fr; */
}

.hb-brand{
  & h1 {
    font-size: var(--font-size-heading) ;
    color: var(--color-secondary);
  }
}

.hb-location{
  & img {

  }
}

.hb-dateuser{

}

.btnnotificacion{
  & i {
    color: var(--color-secondary);
  }
}

.btncontactsupp{
  & i {
    color: var(--color-primary);
  }
}

.datecontenuser{
  & span {
    &:first-child{
      color: var(--color-secondary);
    }

    &:last-child{
      color: var(--color-primary);
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.hb-location{
  & span {
    color: #8B8B8B;
    font-weight: 300;
  }
}
