<div class="modal-body">
  <form #formRef="ngForm" class="uflex-v gap10" (ngSubmit)="onSubmit(formRef)">
    <h4 class="modal-title">{{ config.data.tittle }}</h4>


    @for(field of config.data.fields; track field){

    <div class="uflex-v gap10" >
      <label [for]="field.name" class="form-label">{{ field.label }}</label>


      @if(field.type==='select'){
          <p-select

            [id]="field.name"
            class="form-select"
            [name]="field.name"
            [(ngModel)]="formData[field.name]"
            [options]="field.options"
            [required]="field.required"
            optionLabel="name"
            optionValue="id"
          >
          </p-select>
      }


      @if(field.type=='datePicker'){
        <p-date-picker [(ngModel)]="formData[field.name]" [selectionMode]="field.selectionMode" [inputId]="field.name" dateFormat="dd/mm/yy"
                       [placeholder]="field.placeholder || ''" [required]="field.required" showIcon="true"></p-date-picker>
      }

      @if(field.type != 'select' && field.type != 'datePicker') {
      <input
        [type]="field.type"
        [id]="field.name"
        class="form-control"
        [name]="field.name"
        [(ngModel)]="formData[field.name]"
        [required]="field.required"
        [placeholder]="field.placeholder || ''"
        [disabled]="check(field.name)"
      />
      }
      </div>


}
      <div class="uflex uflex-center gap30 w100 ">
        <button class="btn-primary uflex uflex-center" type="submit" [disabled]="!formRef.valid" >
          <i class="material-symbols-outlined">post_add</i> Guardar
        </button>
        <button class="btn-whitest uflex uflex-center" (click)="close()">
          <i class="material-symbols-outlined">cancel</i> Cancelar
        </button>
      </div>

  </form>
</div>
