<div class="uflex-v uflex-center w100">

  <p>Crea tu nueva contraseña </p>
  <div class="step-icon">
    <img src="assets/login/reset-password.png" alt="Validación" />
  </div>

  <form class="step-form uflex-v gap20" #resetForm="ngForm">
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        id="password"
        name="password"
        type="password"
        [(ngModel)]="password"
        required
        placeholder="Escribe"
      />
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmar contraseña</label>
      <input
        id="confirmPassword"
        name="confirmPassword"
        type="password"
        [(ngModel)]="confirmPassword"
        required
        placeholder="Escribe"
      />
    </div>
    <button
      class="btn-validate"
      [disabled]="!isValid"
      (click)="confirm()"
    >
      Guardar contraseña
    </button>

  </form>
</div>
