<div class="bogenetables">
  <p-toast position="top-right"></p-toast>

  <div class="">
    <div class="uflex uflex-jbtw mb20 ststylecont">
      <h2 class="headingst">Lista de clientes</h2>
      <button class="uflex-center gap5 btn-primary mrequal"
              type="button" pButton pRipple (click)="create()"><i class="material-symbols-outlined">add_diamond</i>Nuevo</button>
    </div>

    <article class="uflex-jbtw uflex cardElements mb25 p-3">
      <div class="uflex gap20 " >
        <div class="input-icon brfield  ">
          <i class="material-symbols-outlined">search</i>
          <input class="w100 search" [(ngModel)]="searchText" type="text" pInputText
                 placeholder="Buscar por nombre o apellido" (input)="applyFilters()" (keyup)="onSearchDebug()" />
        </div>

        <div class="uflex gap10 aicenter" >
          <label for="daterange">Fecha registro</label>
          <p-date-picker [(ngModel)]="dateRange" selectionMode="range" inputId="daterange" dateFormat="dd/mm/yy"
                         placeholder="Selecciona rango de fechas (puede ser el mismo día)" showIcon="true" (onSelect)="applyFiltersImmediate()"></p-date-picker>
        </div>

        <div class="uflex gap10 aicenter uswithtogle">
          <label>{{status? 'Activo': 'Inactivo'}}</label>
          <p-toggleswitch [(ngModel)]="status" class="tag" [ngClass]="status? 'active':''"
                         (onChange)="applyFiltersImmediate()">
          </p-toggleswitch>
        </div>

      </div>

      <div class="uflex gap10">
        <button pButton class="uflex-center btn-secondary" type="button" (click)="clearFilters()">
          <i class="material-symbols-outlined">clear</i>Limpiar
        </button>
      </div>
    </article>
  </div>

  <div class="loading-container" *ngIf="isLoading">
    <p>Cargando clientes...</p>
  </div>

  <div *ngIf="!isLoading">
    <app-table [columns]="columns" [data]="data" [actions]="actions">
    </app-table>
  </div>
</div>
