<div class="bogenetables">
  <div class="">
    <div class="uflex uflex-jbtw mb20 ststylecont">
      <h2 class="headingst">Lista de cliente-servicio</h2>
      <button class="uflex-center gap5 btn-primary mrequal"
              type="button" pButton pRipple (click)="create()" ><i class="material-symbols-outlined">add_diamond</i>Nuevo</button>


    </div>
    <article class="uflex-jbtw uflex cardElements mb25 p-3">
      <div class="uflex gap20 " >
        <div class="input-icon brfield  ">
          <i class="material-symbols-outlined">search</i>
          <input  class="w100 search" [(ngModel)]="searchText"  type="text" pInputText
                  placeholder="Buscar "
          />
        </div>


        <div class="uflex gap10 aicenter" >
          <label for="dateStart">Fecha inicio</label>
          <p-date-picker [(ngModel)]="dateStart"  inputId="dateStart" dateFormat="dd/mm/yy"
                         placeholder="Elige fecha inicio " showIcon="true"></p-date-picker>

        </div>

        <div class="uflex gap10 aicenter" >
          <label for="dateEnd">Fecha fin</label>
          <p-date-picker [(ngModel)]="dateEnd" inputId="dateEnd" dateFormat="dd/mm/yy"
                         placeholder="Elige  fecha fin" showIcon="true"></p-date-picker>

        </div>

        <div class="uflex gap10 aicenter">
          <label for="bussiness" class="fw-bold">Tipo de servicio: </label>
          <p-select id="bussiness"
                    [options]="services" [(ngModel)]="serviceSelected" >
          </p-select>
        </div>



      </div>

      <button pButton class="uflex-center btn-primary" type="button" >
        <i class="material-symbols-outlined">document_search</i>Buscar
      </button>
    </article>



  </div>

  <div>
    <app-table [columns]="columns" [data]="data" [actions]="actions"
    >
    </app-table>
  </div>
</div>
