<div class="mainsidebar" [ngClass]="{'isSidebarbtnOpen': isSidebarOpen}">
  <div class="uflex-v aicenter gap25">

    <div class="btnmenusidebar" (click)="toggleSidebar()">
      <i class="material-symbols-outlined">menu</i>
    </div>

    <div class="uflex-v aicenter bkmenumain">
      @for (item of menuItems; track item.label) {
      <div class="itemspagebtn uflex-v aicenter gap5" [ngClass]="{'isBtnPageActive': selectedMenu === item.label}"
        (click)="selectMenu(item)">
        <div class="uflex-center">
          <i class="material-symbols-outlined">{{ item.icon }}</i>
        </div>
        @if (isSidebarOpen) {
      <span>{{ item.label }}</span>
      }
      </div>
      }
    </div>
  </div>
</div>
