.mainsidebar{
  background:var(--background-primary);
  padding: 10px;
  width:65px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.isSidebarbtnOpen{
  width:110px;
}

.btnmenusidebar{
  margin-top: 10px;


  i{
    color: var(--color-white);
    cursor: pointer;
  }
}

.itemspagebtn {
  cursor: pointer;
}

.itemspagebtn div {
  height: 38px;
  width: 38px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.itemspagebtn.isBtnPageActive div {
  background: var(--color-white);
  color: var(--color-quinary);
}

/* Texto del menú */
.itemspagebtn span {
  color: var(--color-white);
  font-size: var(--font-size-sm);
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.mainsidebar.isSidebarbtnOpen .itemspagebtn span {
  display: inline;
  opacity: 1;
  text-align: center;
}


.bkmenumain{
  gap: 18px;
}
