<div class="bogenetables">
  <div class="">
    <div class="uflex uflex-jbtw mb20 ststylecont">
      <h2 class="headingst">Mantenimiento de usuarios</h2>
      <button class="uflex-center gap5 btn-primary mrequal"
              type="button" pButton pRipple (click)="create()" ><i class="material-symbols-outlined">add_diamond</i>Nuevo</button>


    </div>
    <article class="uflex-jbtw uflex cardElements mb25 p-3">
      <div class="uflex gap20 " >
        <div class="input-icon brfield  ">
          <i class="material-symbols-outlined">search</i>
          <input  class="w100 search" [(ngModel)]="searchText"  type="text" pInputText
                  placeholder="Buscar "
          />
        </div>
      </div>

      <button pButton class="uflex-center btn-primary" type="button" (click)="filterData()" >
        <i class="material-symbols-outlined">document_search</i>Buscar
      </button>
    </article>



  </div>

  <div>
    <app-table [columns]="columns" [data]="data" [actions]="actions"
    >
    </app-table>
  </div>
</div>
