.enabled-btn {

  color: green!important;
}

.disabled-btn {

  color: gray !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.icon{
  color: #D78800;
  font-weight: bold;
}

.agree{

  color:#009B3F!important;
}
