
<div class="modal-container">
  <div class="modal-header uflex uflex-jbtw">

    <h2 class="headingst">Asignación de puertas y rampas por cliente</h2>


  </div>
  <div class="modal-body">



        <div class="uflex uflex-center gap30 w100 ">
          <button class="btn-whitest aicenter gap5 uflex-jbtw" (click)="changeStep()">
            <div class="uflex gap5">
              <i class="material-symbols-outlined">subdirectory_arrow_left</i>
              <span>Atras</span>
            </div>
          </button>
          <button class="btn-primary aicenter gap5 uflex" (click)="continue($event)"><i
            class="material-symbols-outlined">subdirectory_arrow_right</i>Continuar</button>
        </div>

      </div>

    </div>

  </div>
</div>
