
<div class="modal-container">
  <div class="modal-header uflex uflex-jbtw">

    <h2 class="headingst">Recuperar contraseña</h2>


  </div>
  <div class="modal-body">


    @if(currentStep === 1){
    <section>
     <app-step-user-validation (validationComplete)="onValidationCompleted($event)"></app-step-user-validation>
    </section>
    }
    @if(currentStep === 2){
    <section>
       <app-step-code-validation (codeSubmitted)="onValidationStep2Complete($event)"></app-step-code-validation>
        </section>

    }
    @if(currentStep === 3){
    <section>
    <app-step-reset-password  (passwordChanged)="onPasswordChanged($event)" ></app-step-reset-password>
    </section>
    }

        <div class="uflex uflex-center gap30 w100 ">
          <button class="btn-whitest aicenter gap5 uflex-jbtw" (click)="previousStep()">
            <div class="uflex gap5">
              <i class="material-symbols-outlined">subdirectory_arrow_left</i>
              <span>Atras</span>
            </div>
          </button>
          <button class="btn-primary aicenter gap5 uflex" (click)="nextStep()"
                  [disabled]="
    (currentStep === 1 && !validationStep1Done) ||
    (currentStep === 2 && !validationStep2Done)||(currentStep === 3 && !validationStep3Done)
  "><i
            class="material-symbols-outlined">subdirectory_arrow_right</i>Continuar</button>
        </div>

      </div>

    </div>


